<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Login</h3>
    <hr>
    <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="title">Email</label>
        <input type="text" formControlName="email" class="form-control" id="title">
        <div class="text-danger" *ngIf="loginForm.get('email')?.touched && !loginForm.get('title')?.valid">
          Required
        </div>
      </div>
      <div class="mb-3">
        <label for="description">Description</label>
        <input type="text" name="description" formControlName="password" id="description" cols="30" rows="10" class="form-control" />
        <div class="text-danger" *ngIf="loginForm.get('password')?.touched && !loginForm.get('description')?.valid">
          Required
        </div>
      </div>
      <div class="my-3">
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
